<div
  style="
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25vh;
    z-index: 1;
  "
  *ngIf="spinner"
>
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!available">
  <h1>{{ message }}</h1>
</div>
<div id="page-content" *ngIf="available">
  <mat-sidenav-container class="example-container">
    <mat-sidenav
      #sidenav
      [mode]="mod"
      [(opened)]="open"
      style="background: #007b5e;"
    >
      <img *ngIf="sideIcon" src="assets/digiowner_log.png" alt="" />
      <ol>
        <li *ngFor="let item of urls" (click)="onClick(item.site_url)">
          {{ item.site_area }}
        </li>
      </ol>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <mat-toolbar
        class="mat-elevation-z10"
        style="width: 100% !important;"
        color="primary"
      >
        <p *ngIf="menue" style="text-align: end; color: white; font-size: 60px;">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menue</mat-icon>
          </button>
        </p>
  
        Dashboard
        <span class="spacer"> </span>
  
        
      </mat-toolbar> -->
      <nav
        class="navbar navbar-dark bg-dark mb-3 mat-elevation-z10"
        style="background-color: #007b5e !important;"
      >
        <p
          *ngIf="menue"
          style="text-align: end; color: white; font-size: 60px;"
        >
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menue</mat-icon>
          </button>
        </p>
        <!-- <a class="navbar-brand" href="#">DigiOwner</a> -->
        <img src="assets/digiowner_log.png" alt="" />
        <div style="color: white;">
          Contact No. : 9302185966 <br />
          Email Id: sales@digiowner.com
        </div>
      </nav>
      <div>
        <iframe
          scrolling="no"
          allow="fullscreen"
          [src]="site_url | safe_url"
          id="my-iframe"
        ></iframe>
        <div class="over">
          <div class="containerDiv">
            <carousel
              [itemsPerSlide]="itemsPerSlide"
              [singleSlideOffset]="singleSlideOffset"
              [showIndicators]="false"
              [noWrap]="!noWrap"
              [interval]="false"
              [startFromIndex]="0"
              (slideRangeChange)="onSlideRangeChange($event)"
            >
              <slide *ngFor="let slide of urls; let index = index">
                <div
                  class="carousel-caption"
                  (click)="onClick(slide.site_url, slide.site_area)"
                >
                  <img
                    src="../../assets/gate_tn.jpg"
                    style="width: 70px; height: 70px;"
                  />
                  <div
                    *ngIf="
                      selected == slide.site_area;
                      then thenBlock;
                      else elseBlock
                    "
                  ></div>
                  <ng-template #thenBlock>
                    <p style="color: #007b5e;">{{ slide.site_area }}</p>
                  </ng-template>
                  <ng-template #elseBlock>
                    <p>
                      {{ slide.site_area }}
                    </p></ng-template
                  >
                </div>
              </slide>
            </carousel>
          </div>
        </div>
      </div>
    </mat-sidenav-content> </mat-sidenav-container
  ><app-footer></app-footer>
</div>
