<!-- <router-outlet></router-outlet>     -->
<nav class="navbar navbar-dark bg-dark mb-3 mat-elevation-z10">
  <!-- <a class="navbar-brand" href="#">DigiOwner</a> -->
  <img src="assets/digiowner_log.png" alt="" />
  <div style="color: white;">
    Contact No. : 9302185966 <br />
    Email Id: sales@digiowner.com
  </div>
</nav>
<div class="frameContainer">
  <div class="hidelogo"></div>
  <iframe
    allow="fullscreen"
    src="https://view.ricohtours.com/794b4c7a-bf69-4dcb-b972-706c96ca0657"
    (load)="onLoad()"
    (scroll)="onScroll($event)"
  ></iframe>
</div>
