<div id="page-content" style="height: 100vh; bottom: 0; top: 0;">
  <nav
    class="navbar navbar-dark bg-dark mb-5"
    style="background-color: #007b5e !important;"
  >
    <a class="navbar-brand" href="#">DigiOwner</a>
  </nav>
  <div class="container">
    <iframe
      height="500px"
      scrolling="no"
      allow="fullscreen"
      src="https://teliportme.com/view/1784541?utm_medium=android&utm_source=share-panorama"
      id="my-iframe"
    ></iframe>
  </div>
</div>

<app-footer></app-footer>
